<ion-content>
  <swiper-container slides-per-view="1" pagination="true" >
    <swiper-slide>
      <ion-img class="slider-img" src="assets/images/logo.png" alt="Logo app"></ion-img>
      <h1>Bienvenidos a Cooking for World</h1>
      <p>El lugar donde todos comparten sus recetas al mundo</p>
    </swiper-slide>
    <swiper-slide>
      <ion-img src="assets/images/cooking_vector.png" alt="Red social de recetas"></ion-img>
      <p>La red social donde puedes encontrar cientos y miles de recetas</p>
    </swiper-slide>
    <swiper-slide>
      <ion-img src="assets/images/chef_vector.png" alt="Chef cocinando"></ion-img>
      <p>No importa si eres principiante o experto. Hay recetas de todo tipo y para todos los niveles</p>
    </swiper-slide>
    <swiper-slide>
      <ion-img src="assets/images/salad_vector.png" alt="Plato de ensalada"></ion-img>
      <h2>¿Estás listo para comenzar?</h2>
      <ion-button expand="block" (click)="finish()">
        <ion-icon name="play-outline"></ion-icon>
        Comencemos
      </ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
