<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="align-center">
        <ion-col size="auto">
          <ion-img src="assets/images/logo_main.png" alt="Logo app" class="logo-brand"></ion-img>
        </ion-col>
        <ion-col size="auto" class="text-col">
          <h1 class="app-title">COOKING FOR WORLD</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
        <ion-col *ngFor="let post of posts" size="12" size-md="6" size-lg="4" class="ion-margin-vertical-3">
          <ion-card class="ion-padding">
            <ion-item lines="none" class="ion-align-items-center">
              <ion-avatar>
                <ion-img alt="Avatar de usuario" [src]="!post.user?.image ? 'assets/images/template_img.jpg' : post.user?.image"/>
              </ion-avatar>
              <ion-text>
                <h2 class="user-name">{{ !post.user.name || false ? 'Usuario indefinido' : post.user.name}}</h2>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-img [src]="post.image" alt="imagen post" class="image-post" />
            </ion-item>

            <ion-card-content>
              {{ post?.description }}
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarPosts($event)" *ngIf="hasMore">
    <ion-infinite-scroll-content loading-spinner="circular" loading-text="Cargando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
