@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

ion-content {
  display: flex;
  flex-direction: column;
}

.user-label {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.logo-col, .text-col  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #ff5722;
}

.logo-brand{
  height: 2.5rem;
  width: auto;
}
