@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.align-center {
  display: flex;
  align-items: center;
}

.app-title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #ff5722;
}

.logo-brand{
  height: 2.5rem;
  width: auto;
}

.image-post {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

ion-fab{
  ion-fab-button{
    --background: #ff5722;
    --background-hover: #e64a19;
    --background-activated: #e64a19;
    --background-focused: #e64a19;
    --color: #fff;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  ion-progress-bar{
    --background: #e64a19;
  }
}
