<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{usuario?.nombre}} {{usuario?.apellido}}</ion-title>
  <ion-img [src]="usuario?.img_perfil" alt="perfil"></ion-img>
  <p>Username : {{usuario?.username}}</p>
  <p>Followers: 0</p>
  <p>Following: 0</p>
</ion-content>
