<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-sm="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-title>{{usuario?.name}} {{usuario?.last_name}}</ion-title>
          </ion-card-header>
          <figure (click)="tomarFoto()">
            <ion-img class="img_profile" [src]="usuario?.image" alt="perfil"></ion-img>
          </figure>
          <ion-card-content>
            <p>usuario: {{usuario.username}}</p>
            <p>Seguidores: {{usuario.followed_users.length}}</p>
            <p>Siguiendo: {{usuario.following_users.length}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
