ion-button{
  --margin-top: 20px;
  --background: #ff5722;
  --background-hover: #e64a19;
  --background-activated: #e64a19;
  --background-focused: #e64a19;
  --color: #fff;
  --font-weight: bold;
  --border-radius: 5px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
