<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Registrar usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <!-- Columna central para el formulario -->
      <ion-col size="12" size-md="8" size-lg="6">
        <div class="container text-center">
          <!-- Logo centrado -->
          <ion-img
            class="slider-img"
            src="assets/images/logo.png"
            alt="Logo app"
            style="max-width: 150px; margin: 0 auto;"
          ></ion-img>
        </div>

        <form [formGroup]="formRegister" (ngSubmit)="register(formRegister.value)">
          <!-- Campo Nombre -->
          <ion-item-group class="ion-margin">
            <ion-item>
              <ion-input
                label="Nombre"
                labelPlacement="floating"
                placeholder="pepito"
                formControlName="nombre"
              ></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of formErrors.nombre">
              <ion-label
                color="danger"
                *ngIf="formRegister.get('nombre')?.hasError(error.type) && formRegister.get('nombre')?.dirty"
              >
                {{ error.message }}
              </ion-label>
            </ng-container>
          </ion-item-group>

          <!-- Campo Apellido -->
          <ion-item-group class="ion-margin">
            <ion-item>
              <ion-input
                label="Apellido"
                labelPlacement="floating"
                placeholder="perez"
                formControlName="apellido"
              ></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of formErrors.apellido">
              <ion-label
                color="danger"
                *ngIf="formRegister.get('apellido')?.hasError(error.type) && formRegister.get('apellido')?.dirty"
              >
                {{ error.message }}
              </ion-label>
            </ng-container>
          </ion-item-group>

          <!-- Campo Email -->
          <ion-item-group class="ion-margin">
            <ion-item>
              <ion-input
                label="Email"
                labelPlacement="floating"
                placeholder="example@email.com"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of formErrors.email">
              <ion-label
                color="danger"
                *ngIf="formRegister.get('email')?.hasError(error.type) && formRegister.get('email')?.dirty"
              >
                {{ error.message }}
              </ion-label>
            </ng-container>
          </ion-item-group>

          <!-- Campo Contraseña -->
          <ion-item-group class="ion-margin">
            <ion-item>
              <ion-input
                type="password"
                label="Contraseña"
                label-placement="floating"
                formControlName="password"
              ></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of formErrors.password">
              <ion-label
                color="danger"
                *ngIf="formRegister.get('password')?.hasError(error.type) && formRegister.get('password')?.dirty"
              >
                {{ error.message }}
              </ion-label>
            </ng-container>
          </ion-item-group>

          <!-- Campo Confirmar Contraseña -->
          <ion-item-group class="ion-margin">
            <ion-item>
              <ion-input
                type="password"
                label="Confirmar contraseña"
                label-placement="floating"
                formControlName="confirmPassword"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="formRegister.hasError('passwordsDoNotMatch') && formRegister.dirty"
            >
              <span>Las contraseñas no coinciden</span>
            </ion-text>
          </ion-item-group>

          <!-- Botón de registro -->
          <ion-item-group class="ion-margin">
            <ion-button expand="block" [disabled]="!formRegister.valid" type="submit">
              Registrar usuario
            </ion-button>
          </ion-item-group>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
